.side-container {
  .small {
    margin: 1rem auto;
  }
}

.post {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 1rem;

  h2 {
    line-height: 1.1;
  }

  &-thumb {
    min-height: 210px;
    max-height: 240px;
    display: flex;
    img {
      max-width: 390px;
      object-fit: cover;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 420px;

    small {
      color: $dark_primary;
    }
  }

  &-preview {
    max-height: 150px;
    overflow: hidden;
  }
}

.side-post {
  display: grid;
  grid-template-columns: 2fr 3fr;
  line-height: 1;

  h2 a {
    font-size: 1rem;
  }

  &-thumb {
    min-width: 140px;
    min-height: 90px;
    max-width: 150px;
    // max-height: 80px;
    margin-right: 1rem;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    small {
      color: $dark_primary;
    }
  }
}

.blog-nav-buttons {
  display:flex;
  flex-direction: column;
}

.tags {
  a {
    margin-bottom: 1rem;
  }
}