// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // padding: 1rem 2rem;
  border-bottom: 1px solid $primary_color;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

#logo {
  position: absolute;
  top: .1rem;
  left: 1rem;
  max-width: 50px;
  height: auto;
}

.nav {
  display: flex;

  a {
    padding: 0.5rem;
    margin: 0 0.25 rem;
    color: #fff;
  }

  a:hover {
    cursor: pointer;
    color: $secondary_color;
  }
}

.ham, .ham-x {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: .4rem;
  padding-right: 1rem;
}

.ham {
  display: none;
}

.ham-x {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}


// landing
.landing {
  width: 100vw;
  height: 100%;
  background-image: url("../../../img/nfl-landing.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: "freshmannormal";
    margin-bottom: 1rem;
  }
}
