// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // padding: 1rem 2rem;
  border-bottom: 1px solid $primary_color;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: $primary_color;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

#logo {
  position: absolute;
  top: .1rem;
  left: 1rem;
  max-width: 50px;
  height: auto;
}

.nav {
  display: flex;
  height: 53px;
  align-items: stretch;

  li {
    display: flex;
    align-items: center;

    input {
      height: 35px;
      width: -5px;
      padding-left: 5px;
      border: none;
      float: right;
    }
  }

  a {
    padding: 0.5rem;
    margin: 0 0.25 rem;
    color: #fff;
  }

  a:hover {
    cursor: pointer;
    color: $secondary_color;
  }
}

.slide-in {
  animation-name: slide--in;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes slide--in {
    from {width: 0}
    to {width: 100%}
}

.ham, .ham-x {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: .4rem;
  padding-right: 1rem;
}

.ham {
  display: none;
}

.ham-x {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}
