<h2>Komentáre</h2>
{% if current_user.is_authenticated %}
<form class="form my-1" action="{{url_for('add_comment', post_id=post.id)}}" method="POST">
<textarea name="comment" placeholder="Pridať komentár..." rows="5" required></textarea>

<button class="btn btn-success btn-md" type="submit">
    Pridať komentár
</button>
</form>
{% else %}
<hr />
{% endif %}
<div class="comment-thread">
{% for comment in post.comments %}
<div class="comment">

    <div class="comment-heading">
    <div class="comment-info">
        <a class="comment-author" href="{{url_for('profile', profile_id=comment.author.id)}}"
        >{{comment.author.name}}</a
        >
        <p>{{pretty_date(comment.created_date)}}</p>
    </div>
    </div>
    <div class="comment-body">
    <p>
        {{comment.body}}
    </p>
    <div class="my-1">
        {% if current_user.is_authenticated %}
        <a href="#" class="btn btn-small btn-white">Nahlásiť</a>
        {% endif %}
        {% if current_user.id == comment.author.id %}
        <a id="btn-delete-comment" href="{{url_for('delete_comment', comment_id=comment.id)}}" class="btn btn-small btn-delete">Zmazať</a>
        {% endif %}
    </div>
    </div>
</div>
{% endfor %}
</div>