{% include "header.html" %}
    <div class="container">
      <a class="btn btn-light my-1" href="{{url_for('profile', user_id=current_user.id)}}">Späť</a>
      {% if is_edit %}
      <h2><i class="fas fa-user"></i> Edit Post</h2>
      <form class="form" action="{{url_for('edit_post', post_id=post_to_edit.id)}}" method="POST">
      {% else %}
      <h2><i class="fas fa-user"></i> Create Post</h2>
      <form class="form" action="{{url_for('create_post')}}" method="POST">
      {% endif %}
        <label for="post-title">Post Title</label>
        <input type="text" name='post-title' value='{{post_to_edit.title if post_to_edit}}' required>
        <label for="title-img">Title Image Link</label>
        <input type="text" name='title-img' value='{{post_to_edit.title_img if post_to_edit}}'>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {{ ckeditor.create(value=post_to_edit.body if post_to_edit)}}
        <button class="btn btn-primary btn-lg" type="submit" onClick="this.select();">Submit</button>
      </form>
    </div>
  </body>
</html>
