<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if post %}
    <meta name="og:title" content="{{post.title}}">
    <meta name="og:image" content="{{post.image}}">
    <meta name="og:type" content="article">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{post.title}}" />
    <meta name="twitter:image" content="{{post.title_img}}" />
    <meta name="description" content="{{post.body | safe | truncate(140)}}">
    {% elif user %}
    <meta name="og:title" content="{{user.name}} - Hvizd profil">
    <meta name="og:image" content="{{user.profile_img}}">
    <meta name="og:type" content="article">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{user.name}}" />
    <meta name="twitter:image" content="{{user.profile_img}}" />
    <meta name="description" content="Profil autora {{user.name}} - {{user.about | safe |truncate(140)}}">
    {% else %}
    <meta name="og:title" content="Hvizd - Športový Blog">
    <meta name="og:image" content="{{url_for('static', filename='img/'+default_post_img)}}'">
    <meta name="og:type" content="blog">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Hvizd - Športový Blog" />
    <meta name="twitter:image" content="{{url_for('static', filename='img/'+default_post_img)}}'"/>
    <meta name="description" content="Blog o športe. Zaregistruj sa a pridaj vlastný článok.">
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='client/public/css/style.min.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <script
      defer
      src="https://kit.fontawesome.com/a31f9b8048.js"
      crossorigin="anonymous"
    ></script>
    
    <script defer src="{{url_for('static', filename='client/public/js/index.js')}}" crossorigin="anonymous"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="{{url_for('home')}}"><img id='logo' src="{{url_for('static', filename='img/logo-no-background.png')}}" alt="logo"></a>
      <a class="ham" href="{{url_for('home')}}"><i class="fas fa-bars fa-2x"></i></a>
      <a class="ham-x hidden" href="{{url_for('home')}}"><i class="fas fa-times fa-2x"></i></a>
      <ul class="nav">
        {# <li><a href="{{url_for('fans')}}">Autori</a></li> #}
        <li><a href="{{url_for('home')}}">Blog</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{url_for('profile_routes.profile', user_id=current_user.id)}}">Môj Profil</a></li>
          <li><a href="{{url_for('login_routes.logout')}}">Odhlásiť</a></li>
        {% else %}
          <li><a href="{{url_for('login_routes.login')}}">Prihlásiť</a></li>
          <li><a href="{{url_for('login_routes.register')}}">Zaregistrovať</a></li>
        {% endif %}
        <li>
            <form action="/search" method="POST">
              <input id="search-bar" type="text" class="hidden" name="search-string" placeholder="Hľadať...">
            </form>
        </li>
        <li>
          <a id="search-icon" href=""><i class="fas fa-search"></i></a>
        </li>
      </ul>
    </nav>

