{% include "header.html" %}
    <div class="container">
      <a class="btn btn-light my-1" href="{{url_for('home')}}">Späť</a>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="alert alert-danger my-1">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

      <h1 class="text-xl">Prihlásenie</h1>
      <h2><i class="fas fa-user"></i>Prihlásiť do existujúceho účtu</h2>
      <form class="form" action="{{url_for('login')}}" method="POST">
        <input class='my-1' name='email' type="email" placeholder="Email" required />
        <input class='my-1' name='password' type="password" placeholder="Heslo" />
        <button class="btn btn-primary btn-lg" type="submit">Odoslať</button>
        <p class="my-1">
          Nemáš účet? <a href="{{url_for('register')}}">Zaregistruj sa</a>
        </p>
      </form>
    </div>
  </body>
  {% include "footer.html" %}
</html>
