{% include "header.html" %}
    <div class="container">
      <a class="btn btn-light my-1" href="{{url_for('home')}}">Späť</a>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="alert alert-danger my-1">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}

      <h1 class="text-xl">Zabudnuté heslo</h1>
      {% if request %}
      <h2><i class="fas fa-user"></i>Zadaj email na ktorý zašleme link</h2>
      {% else %}
      <h2><i class="fas fa-user"></i>Zadaj nové heslo</h2>
      {% endif %}
      {% if request %}
      <form id="request-password-reset-form" class="form" action="{{url_for('password_reset_request')}}" method="POST">
        <input class='my-1' name='email' type="email" placeholder="Email" required />
        <button id="btn-forgot-password" data-href="/" class="btn btn-primary btn-lg">Odoslať</button>
      </form>
      {% else %}
      <form class="form" action="{{url_for('password_reset', user_id=user_id, hash=hash)}}" method="POST">
        <input class='my-1' name='password' type="password" placeholder="Heslo" required />
        <input class='my-1' name='confirm-password' type="password" placeholder="Potvrdť Heslo" required />
        <button class="btn btn-primary btn-lg" type="submit">Odoslať</button>
      </form>
      {% endif %}
    </div>
  </body>
  {% include "footer.html" %}
</html>