{% include "header.html" %}

    <div class="container">
      <div class="container-grid">
        <!-- top -->
        <div class="profile-wrapper">
        {% if current_user.is_authenticated and user_id == current_user.id %}
        <a href="{{url_for('edit_profile', user_id=current_user.id)}}">Edit Profile</a>
        {% endif %}
          <div class="profile-top py-1">
            <div class="medium my-1">
              <div class="profile-img">
                <img
                  class="img-round"
                  src="../static/img/{{user.profile_img}}"
                  alt="profilepicture"
                />
              </div>
            </div>
            <h1 class="text-l">{{user['name']}}</h1>
            <p class="text-lead">{{user['fav_team'] if user.fav_team}}</p>
            <p>{{user.hometown if user.hometown}}</p>
            <div class="social-icons my-1">
              <a href="http://www.facebook.com/{{user.facebook}}">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
              <a href="http://www.twitter.com/{{user.twitter}}">
                <i class="fab fa-twitter fa-2x"></i>
              </a>
              <a href="http://www.instagram.com/{{current_user.instagram}}">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
          </div>
          <div class="profile-about my-1">
            <h2 class="text-primary text-l">Bio</h2>
            <p class="text-lead">
              {{user['about'] if user.about}}
            </p>
          </div>
          {% if current_user.is_authenticated %}
          <h2 class="text-primary text-l my-1">Posts | <a href="{{url_for('create_post')}}">New <i class="fas fa-edit fa-sm"></i></a></h2>
          {% else %}
          <h2 class="text-primary text-l my-1">Posts</a></h2>
          {% endif %}
          <hr />
          <!-- <div class="line"></div> -->
          {% for post in user_posts %}

          <div class="post py-1">
            <a href="{{url_for('post', post_id=post.id)}}" class="post-thumb highlightable"
              ><img src="{{post.title_img}}" alt="img"
            /></a>
            <div class="post-details">
              <small
                ><i class="fas fa-user"></i>
                <a href="profile.html">{{post.author.name}}</a>
                <i class="far fa-clock"></i> {{pretty_date(post.created_date)}}</small
              >
              <h2>
                <a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a>
              </h2>
              <p>
                {{post.body | safe | truncate(160)}}
              </p>
              <a class="btn btn-primary" href="{{url_for('post', post_id=post.id)}}">Read more</a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="side-container">
          <h2>Popular Articles</h2>
          <hr />
          {% for post in top_posts %}
          <div class="side-post my-1">
            <a href="{{url_for('post', post_id=post.id)}}" class="side-post-thumb highlightable"
              ><img src="{{post.title_img}}" alt="img"
            /></a>
            <div class="side-post-details">
              <h2>
                <a href="url_for('post', post_id=post.id)">{{post.title}}</a>
              </h2>
              <small><i class="far fa-clock"></i> {{pretty_date(post.created_date)}}</small>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
